sedebar-section{
    display: inline-block;
    position:relative;
    left:70%;
}
img {
    object-position:50% 80%;
}
h2,h3{text-align:left;padding-left:25px;

}
ul{
    padding-left:42px;
    color:gold;
}
ol,span{padding-left:18px;}
li{color:orange}
#Anton{
    color:white;
}
text{color:black;}
h5,h6{Font-family: Montserrat;
    Font-style: Regular;
    Font-size: 12px;
    Line-height: 15px;
    Line-height: 100%;
    text-align:left;
    Vertical-align: Top;
    color:gray;
}